.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    background-image: url('/images/light-blue-gradient-wallpaper-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    /*border-bottom: 1px solid #e5e5e5;*/
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #9d9d9d;
    border-top: 1px solid;
    border-color: #080808;
    background: #222;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

}

@media screen and (min-width: 400px) {
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .panel-body-height{
        height:400px;
}
}
    
#wrapper{
    /*//TO DOO*/
}
.login-container{
    box-shadow: 0px 1px 8px 0px;
    margin: 15px;
    background: rgba(0,0,0,0.5);
    margin-bottom: 50px;
}

.login-container input{
    padding: 25px 12px;
}
#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li:before {
    content: " | ";
}

#navigation li:first-child:before {
    content: none;
}

#navigation a:hover{
    text-decoration: none;
}

.container{
    padding:0px;
}
.btn{
    border-radius: 0 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.text-danger-red{
    color: #e53935 !important;
}

.text-orange{
    color: #ff9800  !important;
    margin-top: 0px;
    margin-bottom: 0px;
}
.text-amber{
    color: #ffc107  !important;
}
.text-blue-grey{
    color: #607d8b  !important;
}

.navbar-brand-logo{
    padding: 3px 15px;
}
.navbar-nav > li:hover{
    color: #fff;
    background-color: #080808;
    cursor:pointer;
}
.fa:hover{
    color:gray;
}
.fa.pull-right {
    margin-left: 0.5em;
}
.container-padding{
    padding:15px;
}
#homepage-dashboard .panel{
    resize: both;
    overflow: auto;
}
#homepage-dashboard .on-top{
    z-index: 5;
}