<div class="footer" >
    <div class="container">
        <div id="navigation" class="pull-left">
            <ul>
                <li> <a href="#" ng-click="footer.openPrivacyPopUp()">Privacy Policy</a></li>
                <li><a href="#" ng-click="footer.openTermsPopUp()">Terms of Use</a></li>
                <li><a href="#"ng-click="footer.openSupportPopUp()" >Support</a></li>
            </ul>
        </div>
        <span class="pull-right">&COPY;2015 CROSS|OVER</span>
    </div>
    <br>
</div>