<div class="header" >
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-brand-logo" href="#/"><img src="images/logo.png" style="height: 45px;"></a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a ng-href="#/about">Hi {{header.username}}&nbsp;&nbsp;</a></li>
                    <li><a ng-href="#" ng-click="header.logout()">Logout &nbsp;&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>