<h2 class="text-orange">Dashboard</h2>
<hr>
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav">
                <li ng-class="{active: home.tab == 0}" ng-click="home.tab = 0;home.setTab1 = true;home.setTab2 = true;home.setTab3 = true;home.setTab4 = true"><a>Home</a></li>
                <li ng-class="{active: home.tab == 1}" ng-click="home.tab = 1;home.setTab1 = true"><a>Total sales / sales man</a></li>
                <li ng-class="{active: home.tab == 2}" ng-click="home.tab = 2;home.setTab2 = true"><a>Total Sales / Month</a></li>
                <li ng-class="{active: home.tab == 3}" ng-click="home.tab = 3;home.setTab3 = true"><a>Top 5 Sales order</a></li>
                <li ng-class="{active: home.tab == 4}" ng-click="home.tab = 4;home.setTab4 = true"><a>Top 5 Sales men</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="homepage-dashboard" class="panel panel-default container-padding " ng-show="home.tab == 0" >
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-6 on-top">
            <div class="panel panel-default" ng-show="home.setTab1">
                <div class="panel-heading">Total sales / sales man <i class="fa fa-times pull-right" ng-click="home.setTab1 = false"></i><i class="fa fa-refresh pull-right" ng-click="home.refreshGetTotalSalesPerMan()"></i></div>
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie"
                            chart-data="home.data" chart-labels="home.labels">
                    </canvas> 
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6">
            <div class="panel panel-default" ng-show="home.setTab2">
                <div class="panel-heading">Total Sales / Month <i class="fa fa-times pull-right" ng-click="home.setTab2 = false"></i><i class="fa fa-refresh pull-right" ng-click="home.refreshGetTotalSalesPerMonth()"></i></div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar"
                            chart-data="home.barData" chart-labels="home.barLabels">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12 col-sm-8 on-top">
            <div class="panel panel-default" ng-show="home.setTab3">
                <div class="panel-heading">Top 5 Sales order <i class="fa fa-times pull-right" ng-click="home.setTab3 = false"></i><i class="fa fa-refresh pull-right" ng-click="home.refreshGetTopSalesOrder()"></i></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <td>#</td>
                        <td>Order No</td>
                        <td>Quantity</td>
                        <td>Username</td>
                        <td>Value</td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sale in home.topSalesOrder">
                                <td>{{$index}}</td>
                                <td>{{sale.orderNum}}</td>
                                <td>{{sale.qty}}</td>
                                <td>{{sale.userName}}</td>
                                <td>{{sale.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
            <div class="panel panel-default" ng-show="home.setTab4">
                <div class="panel-heading">Top 5 Sales men <i class="fa fa-times pull-right" ng-click="home.setTab4 = false"></i><i class="fa fa-refresh pull-right" ng-click="home.refreshGetTopSalesMen()"></i></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <td>#</td>
                        <td>Username</td>
                        <td>Value</td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sale in home.topSalesMen">
                                <td>{{$index}}</td>
                                <td>{{sale[0]}}</td>
                                <td>{{sale[1]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="home.tab == 1">

    <div class="panel panel-default">
        <div class="panel-heading">Pie Chart for total sales values for each sales man with a legend for sales men<i class="fa fa-refresh pull-right" ng-click="home.refreshGetTotalSalesPerMan()"></i></div>
        <div class="panel-body panel-body-height">
            <canvas id="pie" class="chart chart-pie"
                    chart-data="home.data" chart-labels="home.labels">
            </canvas> 
        </div>
    </div>
</div>

<div class="container" ng-show="home.tab == 2">
    <div class="panel panel-default">
        <div class="panel-heading">Bar chart for total sales per month.<i class="fa fa-refresh pull-right" ng-click="home.refreshGetTotalSalesPerMonth()"></i></div>
        <div class="panel-body panel-body-height">
            <canvas id="bar" class="chart chart-bar"
                    chart-data="home.barData" chart-labels="home.barLabels">
            </canvas>
        </div>

    </div>
</div>

<div class="container" ng-show="home.tab == 3">
    <div class="panel panel-default">
        <div class="panel-heading">List for top 5 sales orders in amount.<i class="fa fa-refresh pull-right" ng-click="home.refreshGetTopSalesOrder()"></i></div>
        <div class="panel-body panel-body-height">
            <table class="table table-hover">
                <thead>
                <td>#</td>
                <td>Order No</td>
                <td>Quantity</td>
                <td>Username</td>
                <td>Value</td>
                </thead>
                <tbody>
                    <tr ng-repeat="sale in home.topSalesOrder">
                        <td>{{$index}}</td>
                        <td>{{sale.orderNum}}</td>
                        <td>{{sale.qty}}</td>
                        <td>{{sale.userName}}</td>
                        <td>{{sale.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container" ng-show="home.tab == 4">
    <div class="panel panel-default">
        <div class="panel-heading">List for top 5 sales men in last 3 months.<i class="fa fa-refresh pull-right" ng-click="home.refreshGetTopSalesMen()"></i></div>
        <div class="panel-body panel-body-height">
            <table class="table table-hover">
                <thead>
                <td>#</td>
                <td>Username</td>
                <td>Value</td>
                </thead>
                <tbody>
                    <tr ng-repeat="sale in home.topSalesMen">
                        <td>{{$index}}</td>
                        <td>{{sale[0]}}</td>
                        <td>{{sale[1]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
