<br>
<br>
<br>
<br>
<br>
<div class="row login-container">

    <div class="col col-md-8 col-xs-8 col-sm-8 col-md-offset-2 col-xs-offset-2 col-sm-offset-2">
        <br>
        <div class="row">
            <img src="images/logo.png" class="pull-left" style="height: 100px;margin-top: 10px;">
        </div>
        <div class="row">
            <hr>
            <p ng-show="login.loginFailed" class="help-block text-danger-red">Username or Password don't match.</p>
            <form novalidate class="form-horizontal" name="userForm" ng-submit="login.login(userForm.$valid)">
                <div class="form-group">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="sizing-addon1" ng-model="login.username" required>
                        <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block text-danger-red">Username is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password" ng-model="login.password" required>
                        <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block text-danger-red">Password is required.</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                        <button type="submit" class="btn btn-success btn-lg" ng-disabled="userForm.$invalid">Login</button>
                    </div>
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>

</div>




