
<br>

<div class="modal-body">
    <h4>Privacy Policy</h4>
    <span>
        This website and its owners take a proactive approach to user privacy and ensure the necessary steps are taken to protect the privacy of its users throughout their visiting experience. 
        This website complies to all  national laws and requirements for user privacy.
    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="dismiss()">OK</button>
</div>
