<div class="modal-header">
    <h3 class="modal-title">Support</h3>
</div>

<div class="modal-body">
    <span>Please enter your subject and brief description,and we will get back to you.</span>
    <br>
    <form name="support"  ng-submit="send(support.$valid)" >
        <div class="form-group">
            <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            <p ng-show="support.subject.$invalid && !support.subject.$pristine" class="help-block text-danger-red" >Subject is required.</p>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" name="details" placeholder="Details(Max. 250 Words)" maxlength="250" style="resize: none;" required=""></textarea>
            <p ng-show="support.details.$error.maxlength && !support.details.$pristine" class="help-block text-danger-red">Subject Details is required.</p>
        </div>
        <button class="btn btn-primary" type="submit"  ng-disabled="support.$invalid">Send</button>
         <button class="btn btn-warning" type="button" ng-click="dismiss()">Cancel</button>
    </form>
</div>

