
<br>

<div class="modal-body">
    <h4>Success Message</h4>
    <span>
       Request has been sent successfully.
    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="dismiss()">OK</button>
</div>