
<br>

<div class="modal-body">
    <h4>License</h4>
    <span>
        Website Terms and Conditions by SEQ Legal LLP is licensed under a Creative Commons Attribution 2.0 UK: England & Wales License. 
        Based on a work at www.freenetlaw.com. You must retain the credit in all versions and derivatives of the free website terms and conditions. If you want to use this template without a credit, you can obtain a license to do so here: Freenetlaw.com license.
    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="dismiss()">OK</button>
</div>
